<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <style>
    body{
      margin-left: 20px;
    }
    h1{
      margin-top:20px;
      font-weight:100;
      text-align: center;
    }
    h3{
    font-weight:200;
    font-size: 19px;
    }
    h3 b{
      font-weight: 400;
    }
    .single-search-container{
      margin:0 auto 0;
      width: 35%;
    }
    #single_search_results{
      margin-top:10px;
    }
  </style>
</head>

<body>

<h1>Single Search!</h1>
<div class="single-search-container">
  <div class="input-group">
        <span class="input-group-btn">
          <button id="btn_single_search" class="btn btn-secondary" type="button">Go!</button>
        </span>
        <input id="input_single_key" class="form-control" type="text" placeholder="Ticket Number" value="ITTS-1600">
      </div>

<div id="single_search_results">
      <h3><b>Key</b>: TP-8</h3>
      <h3><b>Summary</b>: As a product owner, I'd like to include bugs, tasks and other issue types in my backlog &gt;&gt; Bugs like this one will also appear in your backlog but they are not normally estimated</h3>
      <h3><b>Asignee</b>: dxsssw197</h3>
      <h3><b>Created</b>: kxavss121</h3>
      <h3><b>Description</b>: *Estimation of Bugs*

Scrum teams do not normally apply story point estimates to bugs because bugs are considered to be part of the ongoing work that the team must deal with (i.e the overhead). If you view the story points completed in a sprint as a measure of progress, then bugs also have no value because they do not deliver anything additional to the customer. 

However, you can apply estimates to bugs if you wish by configuring the "Story Points" field to apply to other Issue Types (by default it only applies to Stories and Epics). Some more information on this is in the [documentation|https://confluence.atlassian.com/display/GH/Story+Point].</h3>
</div>

<script type="text/javascript" src="/javascript/index.js"></script>
</body>

</html>
